header {
  display: block !important;
  visibility: visible !important;
  z-index: 1000 !important;
  position: relative;
}

.navbar {
  z-index: 1000 !important;
}

.navbar-transparent {
  background-color: rgba(102, 126, 234, 0.95) !important;
}
