<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title bounce-in">Education</div>
      <div class="card zoom-in-scroll" data-aos="fade-up" data-aos-offset="50">
        <div class="card-body text-center py-5">
          <div class="education-degree">
            <i class="fa fa-graduation-cap education-icon floating"></i>
            <h3 class="degree-title slide-in-left">Bachelor of Computer Science Education</h3>
            <h5 class="institution-name stagger-item">University of Jos, Nigeria</h5>
            <p class="graduation-year stagger-item">2016 - 2021</p>
            <span class="degree-grade stagger-item scale-pulse">Second Class Upper (2.1 CGPA)</span>

            <div class="relevant-courses">
              <h6 class="courses-title slide-in-right">Relevant Coursework</h6>
              <div class="courses-list">
                <span class="course-tag stagger-item glow-on-hover">Python Programming</span>
                <span class="course-tag stagger-item glow-on-hover">Java Development</span>
                <span class="course-tag stagger-item glow-on-hover">Architectural Design</span>
                <span class="course-tag stagger-item glow-on-hover">Software Development</span>
                <span class="course-tag stagger-item glow-on-hover">Data Structures & Algorithms</span>
                <span class="course-tag stagger-item glow-on-hover">Database Management</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Licenses & Certifications Section -->
      <div class="card mt-4 zoom-in-scroll" data-aos="fade-up" data-aos-offset="50">
        <div class="card-body">
          <div class="h4 text-center mb-4 title bounce-in">Licenses & Certifications</div>

          <div class="certification-item stagger-item">
            <div class="cert-icon floating">
              <i class="fa fa-certificate"></i>
            </div>
            <div class="cert-content">
              <h5 class="cert-name">Secure Code Foundational Course</h5>
              <p class="cert-issuer"><i class="fa fa-building-o"></i> GxT International</p>
              <div class="cert-details">
                <span class="cert-date"><i class="fa fa-calendar"></i> Issued Sep 2025</span>
                <span class="cert-id"><i class="fa fa-id-card-o"></i> Credential ID: GX1042020000225</span>
              </div>
              <a href="https://drive.google.com/file/d/1isPOFACrAkepglrrYnp0mZyTJt7nTnh-/view"
                 target="_blank"
                 class="cert-link ripple shake">
                <i class="fa fa-external-link"></i> View Certificate
              </a>
            </div>
          </div>

          <div class="certification-item stagger-item">
            <div class="cert-icon floating">
              <i class="fa fa-certificate"></i>
            </div>
            <div class="cert-content">
              <h5 class="cert-name">Taking Charge of Your Career</h5>
              <p class="cert-issuer"><i class="fa fa-linkedin-square"></i> LinkedIn</p>
              <div class="cert-details">
                <span class="cert-date"><i class="fa fa-calendar"></i> Issued Mar 2025</span>
                <span class="cert-id"><i class="fa fa-id-card-o"></i> Credential ID: 1ce8e57174a5d1707a888d17cb68be1e3161902c756025e230c54dd1e188dabb</span>
              </div>
              <a href="https://drive.google.com/file/d/1sq3JK4qcWPuMBfmGG19lFpPdVVtVlHwG/view"
                 target="_blank"
                 class="cert-link ripple shake">
                <i class="fa fa-external-link"></i> View Certificate
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
